* {
    /* background-color: chartreuse; */
    /* dont use this one, use 
    document.body.style instead */
}

.py-3 {
    /* border: purple solid; */
    /* background-color: green; */
    min-height: 75vh;
    /* height: max-content; */
    margin-bottom: 5vh;
}


.card-deck {
    /* border: solid; */
    /* border-color: blue; */
    /* border-width: 1.5px; */
}


.text-center {
    /* border: solid; */
    /* border-color: violet; */
    /* border-width: 1.5px; */
}

.log-row{
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.btn-group_ml-4 button {
    background-color: #459bdb;
    /* background-image: var(--blue-gradient); */
    border-color: rgba(0, 0, 0, 0.175);
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
  
    width: 5rem;
    border-radius: 0.3rem;
}

.btn-group_ml-4 button:hover {
    box-shadow: 0 6px 8px 0 #88888844, 0 9px 25px 0 #88888844;
}

.activeFilter {
    background-color: #6f12e0 !important;
}

.btn-group_ml-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
}

.noAssetsDisplay {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-inline: auto;
    align-items: center;
    gap: 5vw;
    margin-top: 5vw;
}

.noAssetsImg {
    width: 30vw;
    height: auto;
  }
  
.noAssetsText {
    width: 20vw;
    height: auto;
    font-size: 2vw;
    align-self: center;
}

.disclaimerText{
    margin-top: 5rem;
    opacity: 0.5;
  }
#AuctionsButton {
    transition: background 0.3s;
}

#BidsButton {
    transition: background 0.3s;
}


#AuctionsButton:hover {
    background: rgb(98, 205, 255);
}

#BidsButton:hover {
    background: rgb(98, 205, 255);
}
