* {
    /* background-color: chartreuse; */
    /* dont use this one, use 
    document.body.style instead */
}

.py-3 {
    /* border: purple solid; */
    /* background-color: green; */
    min-height: 75vh;
    /* height: max-content; */
}


.card-deck {
    /* border: solid; */
    /* border-color: blue; */
    /* border-width: 1.5px; */
}


.text-center {
    /* border: solid; */
    /* border-color: violet; */
    /* border-width: 1.5px; */
}

.log-row{
  display: flex;
  align-items: center;
}

.btn-group_ml-4 button {
    background: rgba(0, 0, 0, 0.03);
    border-color: rgba(0, 0, 0, 0.175);
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-group_ml-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
}

