:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlink-items,
.navlink-items:visited{
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

@media only screen and (max-device-width: 750px){
  .navlink-text{
    display: none;
  }
}

/*
.header-top__logo img {
  width: 20%;
  height: 10%;
}
.header-top__BCHARITY{
  font-size: 2em;
  margin-left: 0px;
  margin-right: 50px;
}
.header-top__navbar {
  justify-content: center;
  color: var(--blue-gradient-start);
  background-color: white;
  margin-left: 100px;
}
*/
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  /* outline: blue solid; */
  /* border: blue solid 4px; */
  max-width: 100vw;
}

.navbar_logo {
  display: flex;
  flex-shrink: 1;
  margin-left: 1rem;
  margin-right: 10px;
  outline: blue transparent;
  align-items: center;
}

.navbar_logo img {
  width: 70px;
  /* outline: red solid; */
}

.navbar_bcharity {
  line-height: 100%;
  font-size: min(5vw, 3rem);
}

@media only screen and (max-device-width : 1150px){
  .navbar_bcharity{
    display: none;
  }
}

.navbar-item-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;  border-radius: 0.5rem;
  height: 70px;
  background-color: transparent;
  /* margin-left: 150px; */
  border-radius: 0.5rem;
  flex-shrink: 1;
  outline: yellow transparent;
}

.navbar-item { 
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-style: none;
  text-decoration: inherit;
  color: black;
  padding-top: 3px;
  flex-shrink: 1;
  /* outline: red solid; */
}

.navbar-item.navbar-active{
  color: white;
  font-style: none;
  font-size: 1.5em;
  background: linear-gradient(70deg, var(--blue-gradient-start) 15%, var(--blue-gradient-end));
  padding: 17px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;  transform: translateY(-12px);
  border-radius: 0.5rem;
  flex-shrink: 1;
  width: 90%;
  margin: 0 auto;
}

.navbar_search input{
    width: inherit;
    font-size: 20px;
    flex-shrink: 1;
}

.navbar_search {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 0.5rem;
  flex-shrink: 1;
  margin-left: 30px;
  /* outline: red solid; */  
}

.searchLabel {
  position: relative;
}

.searchLabel::before {
  content: "";
  position: absolute;
  left: 7px;
  top: -2px;
  /* bottom: 7px; */
  width: 20px;
  height: 17px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  width='20' height='20' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16' fill-rule='evenodd'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  /* padding-bottom: 7px; */
  /* margin-bottom: 7px; */
}

.searchBar {
  background: rgba(0, 0, 0, 0.03);
  /* border: lightgrey solid; */
  /* border: purple solid; */
  border: none;

  padding: 10px 1px 10px 35px;
  /* margin-top: 3px; */
  margin: 0;

}

.navbar-login {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section {
  width: 100%;
  height: 70px;
  padding-right: 1rem;
}

.login-div {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.login-item{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button svg{
  fill: var(--text-color);
  width: 50px;
  height: 50px;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.dropdown {
  z-index: 2;
  
  position: absolute;
  top: 65px;
    
  box-sizing: border-box;
  /* height: 80px;
  width: 82px; */

  /* transform: translateX(-43%); */

  border: var(--border);
  border-radius: var(--border-radius);
  /* overflow: hidden; */
  /* border: 1px gold solid; */

  background: rgba(0, 0, 0, 0.03);
  /* border-color: rgba(0, 0, 0, 0.175); */

  /* font-size: 30px; */
}

.menu-item{
  /* height: 50px; */
  display: flex;
  /* flex-direction: column; */

  /* align-items: center; */
  border-radius: var(--border-radius);
  /* padding: 0.5rem; */
  /* border: 1px red solid; */
  
  justify-content: center;
  text-align: center;
  padding: 5px 6px;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.175);
}

.icon-right{
  margin-left: auto;
  /* border: blueviolet solid; */
}

.navv1 {
  text-decoration: none;
  /* border: 1px blueviolet solid; */
}

.navv1 h3 {
  color: black;
  font-weight: normal;
}


.navv2 {
  text-decoration: none;
}

.navv2 h3{
  color: black;
  font-weight: normal;
}


.navv3 {
  text-decoration: none;
  /* border: red solid; */
}

.navv3 h3{
  color: black;
  font-weight: normal;
  /* border: red solid; */
}
